*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
}


/* =============================================================================================================== */
/* 메인 이미지 */

.main-container {
    display: grid;
    grid-template: repeat(auto-fill, 800px) / 1fr;
}

.first-main-img,
.second-main-img {
    height: 800px;
}

.first-main-img{
    background: url(https://comma9.co.kr/web/upload/category/editor/2023/08/30/39ec6c4c07281631709e909b30c3c886.jpg) 100%/cover;
}

.second-main-img{
    background: url(https://comma9.co.kr/web/upload/category/editor/2023/08/30/97ee49d2d7c3c6faf0757df9b3a551c7.jpg) 100%/cover;
}


/* =============================================================================================================== */
/* 메인 상품 리스트 */

.main-product-list-container {
    width: 100%;
    overflow: hidden;
    position: relative;   
    height: 355px;
    margin: 20px 0 50px 0;
}

.slide-container {
    display: grid;
    grid-template: 1fr / repeat(auto-fill, 19.2vw);
    gap: 10px;
    grid-auto-flow:column; 
    overflow: hidden;
    position: absolute;
    left: -0vw; 
    /* -21vw 마다 */
    /* transition: left .5s; */
}
/* .slide-container.goFirst{
    left: -0vw; 
    transition: none;
} */

.main-product-img-container{
    width: 19vw;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-product-img-container>img {
    height: 260px;
}

/* 메인 상품 내용 */
.main-product-comment-container>ul * {
    display: flex;
    justify-content: center;

    margin-bottom: 1px;
}

.main-product-comment-container>ul>li:nth-child(1){
    color: rgb(70, 70, 70);
}

.main-product-comment-container>ul>li:nth-child(2){
    color: rgb(168, 10, 10);
    font: 12px bold;
}