*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a{
   text-decoration: none;
   font-size: 12px;
   color: #000;
}

p{
   font-size: 12px;
   color : #757575
}

ul, ol, li{
   list-style: none;
   padding-inline-start: 0px;
}

.container{
   padding: 180px 20px 50px 20px;
   width: 100%;
}

.content_board{
   max-width: 1130px;
   margin: 0 auto;
}

.menu_wrap{
   text-align: center;
   margin-bottom: 15px;
}

.menu_wrap>a{
   font-size: 12px;
   margin: 15px 10px;
}

.menu_wrap>a:nth-child(1){
   color: #000;
}

.menu_wrap>a:not(:nth-child(1)){
   color: #999;
}

.li_wrap{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   table-layout: fixed;
   width: 100%;
   padding: 14px 7px 0px;
   box-sizing: border-box;
   margin-bottom: 0px;
}

.li_wrap>li{
   width: 100%;
   display: inline-block;
   border-collapse: collapse;
   vertical-align: top;
   margin: 0px 0px 14px;
   position: relative;
   left: -2px;
}

.thumbnail{
   padding: 0 7px;
   margin: 0 0 14px;
}

.img{
   vertical-align: top;
   background-color: #fff;
   width: 248.594px;
   height: 357.984px;
}

.summary{
   padding: 0px 7px;
}

.subject{
   display: block;
   margin: 0px 0px 10px;
}

.name{
   margin: 0px 0px 7px;
}

.date{
   margin: 0px
}

.pageButton_wrap{
   text-align: center;
   border-top: 1px solid #ddd;
   padding: 30px 0px;
   color: #000;
   vertical-align: middle;
}

.pageButton_list,.pageButton_list>li{
   display: inline-block;
   padding: 0px 8px;
   margin: 0;
}

.pageButton_left,.pageButton_right{
   font-size: 12px;
   color: #999;
}

.writeButton_wrap{
   margin: 10px 0;
   text-align: right;
}

.writeButton{
   display: inline-block;
   height: 36px;
   line-height: 36px;
   text-align: center;
   color: #000;
   border: 1px solid #000;
   background-color: #fff;
   box-sizing: border-box;
   padding: 0 10px;
}

/* ================ 어사이드 css ================== */

#aside{
   position: fixed;
   background-color: #fff;
   left: 0;
   top: 0;
   bottom: 0;
   width: 265px;
   min-width: 265px;
   transition: .5s ease-out;
   overflow: auto;
   z-index: 500;
}

.aside_container{
   padding-top: 50px;
}

.aside_wrap{
   margin: 0 15px;
}

.nav_parent_li{
   border-top: 1px solid #d6d6d6;

}

.nav_parent_li>a{
   display: block;
   font-size: 15px;
   font-weight: bold;
   height: 44px;
   line-height: 44px;
   padding-left: 5px;
   position: relative;
}

.nav_child_li{
   padding: 6px 30px;
}

.nav_child_li>a{
   display: block;
}

.nav_child_wrap1,.nav_child_wrap2{
   display: none;
   margin: -3px 0 15px;
}

/* js에서 버튼 클래스 네임 right->down으로 바꾸면 바뀜 */
.xi-angle-right-thin,.xi-angle-down-thin{
   position: absolute;
   color: #a6a6a6; 
   right: 6px;
   top: 15px;
   line-height: 47px;
}

/* nav_child_wrap1,2 js로 위로 슬라이드 시켜서 없애면 됨 */
.flow{
   overflow: hidden;
}

#dimmer{
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 300;
   background-color: rgba(18,18,18,0.36);
   backdrop-filter: blur(5px);
   background: rgba(0,0,0,.4);
   transition: 0.3s ease-out;
}