
.talkingBox-include * {
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    color: #fff;
    overflow: visible;
    user-select: none;
    font-size: 16px;
}

.talkingBox-include a:link {text-decoration: none; color: black;}
.talkingBox-include a:visited {text-decoration: none; color: black;}
.talkingBox-include a:hover {text-decoration: none; color: black;}
.talkingBox-include a:active {text-decoration: none; color: black;}

.talkingBox-include{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: end;
    height: fit-content;

    position: fixed;
    z-index: 2;
    bottom: 50px;
    right: 25px;
}
.talkingBox-include.visibilityHidden {
    visibility: hidden;
}
.talkingBox-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 390px;
    height: 690px;
    border-radius: 25px;
    overflow: hidden;
    background-color: #464748;
}

/* ========================================================================================================== */
/* ===== 본문 =============================================================================================== */
/* 슬라이드 컨테이너 */
.talkingBox-slide{
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    /* overflow: hidden; */
    position: relative;
}
#talkingBox-slideGroup{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    left: -0% !important;
    height: 100%;
}
#talkingBox-slideGroup.secondIndex{
    left: -100% !important;
}
#talkingBox-slideGroup.thirdIndex{
    left: -200% !important;
}

/* ==== 슬라이드1 문의 ========================================================================================*/
.talkingBox-inquiry{
    display: flex;
    flex-direction: column;
    width: 390px;
}

/* ===== 헤더이미지 ========================================================================================= */
.inquiry-lgoImg{
    flex-grow: 0;
    flex-basis: 150px;
    background: linear-gradient(
        to bottom,
        rgb(153, 84, 19, 0) 100%,
        rgb(153, 84, 19, 0.7) 15%,
        rgb(153, 84, 19, 0.5) 10%,
        rgb(153, 84, 19, 1) 0%
        ),
        url("https://cdn.pixabay.com/photo/2020/02/04/10/42/people-4817872_1280.jpg")
        100% / cover;
    display: flex;
    padding: 30px 20px;
    height: max-content;
    justify-content: space-between;
    align-items: end;
}
.inquiry-lgoImg>div>span {
    font-size: 25px;
    font-weight: bold;
}
.inquiry-lgoImg>a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    opacity: .8;
    border-radius: 5px;
    transition: background .1s;
}
.inquiry-lgoImg>a:hover{
    background: rgb(167, 166, 166);
}
.inquiry-lgoImg>a>p{
    font-size: 14px;
}

/* ===== 내용 =============================================================================================== */
.inpuiry-content {
    flex-grow: 10;
    display: flex;
    justify-content: center;
    align-items: start;
}
.inpuiry-content>div{
    margin-top: -15px;
    width: 90%;
    height: fit-content;
    box-sizing: border-box;
    padding: 20px;
    background-color: #72767a;
    border-radius: 20px;
    display: grid;
    grid-template: 178px 48px 16px / 40px 1fr;
    gap: 10px;
}
.logoImg-container>img {
    width: 35px;
    height: 35px;
    border-radius: 10px;
}
.inpuiry-content>div{
    width: 90%;
}
.inpuiry-nickName{
    font-size: 18px;
    font-weight: bold;
}
.inpuiry-comment{
    font-size: 14px;
    white-space: pre;
    text-overflow: ellipsis;
}
.inpuiry-content>div>:nth-child(3){
    grid-area: 2 / 1 / 3 / 3;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.inpuiry-content>div>:nth-child(4){
    grid-area: 3 / 1 / 4 / 3;
    font-size: 12px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.inpuiry-content>div>:nth-child(4)>span:nth-child(1){
    font-size: 12px;
}

/* ========================================================================================================== */
/* ===== 슬라이드2 채팅 ====================================================================================== */
.talkingBox-chat{
    width: 390px;
    display: flex;
    flex-direction: column;
}

.talkingBox-chat>div:nth-child(1){
    flex-basis: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 10px 30px;
}
.talkingBox-chat>div:nth-child(1)>p{
    font-size: 25px;
    font-weight: bold;
}

.talkingBox-chat>div:nth-child(2){
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    opacity: .4;
}
.talkingBox-chat>div:nth-child(2)>span:nth-child(1){
    font-size: 100px;
}
.talkingBox-chat>div:nth-child(2)>span:nth-child(2){
    font-size: 18px;
}

.talkingBox-chat>div:nth-child(3){
    flex-basis: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.talkingBox-chat>div:nth-child(3)>a{
    width: 80%;
    height: 90%;
    background-color: black;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
/* ========================================================================================================== */
/* ===== 슬라이드3 설정 ====================================================================================== */
.talkingBox-setting{
    width: 390px;
}
.talkingBox-setting hr {
    margin: 15px 10px;
    opacity: .3;
}

/* 설정 타이틀 */
.setting-title{
    flex-basis: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 10px 30px;
}
.setting-title>p{
    font-size: 25px;
    font-weight: bold;
}

/* 설정 프로필 */
.setting-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.setting-profile-img{
    background: url(https://cf.channel.io/avatar/emoji/maple_leaf.80d8fb.png) 100% / cover;
    width: 56px;
    height: 56px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.setting-profile>span{
    opacity: .7;
}
.profileEditBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #72767a;
    border-radius: 8px;
    padding: 3px 5px;
    margin-top: 15px;
    opacity: .7;
}
.profileEditBtn>span:nth-child(1){
    font-size: 12px;
}
.profileEditBtn>span:nth-child(2){
    font-size: 14px;
    font-weight: bold;
}

/* 설정 상담환경, 광고수신 */
.setting-chatSetting, .setting-addSetting{
    margin: 0 20px;
}
.setting-chatSetting>*, .setting-addSetting>*{
    margin: 10px 0;
}
.setting-chatSetting>div, .setting-addSetting>div{
    display: flex;
    justify-content: space-between;
}
.setting-chatSetting>label, .setting-addSetting>label{
    font-weight: bold;
    font-size: 14px;
    opacity: .6;
}
.setting-chatSetting>div>label, .setting-addSetting>div>label{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.setting-chatSetting>div>button{
    all: unset;
    cursor: pointer;
}
/* 토글스위치 */


/* 
<input type="checkbox" id="toggle" hidden> 

<label for="toggle" class="toggleSwitch">
  <span class="toggleButton"></span>
</label> */
.toggleSwitch {
    width: 50px;
    height: 20px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #bcc4bc;
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
    cursor: pointer;
    opacity: .7;
}
.toggleSwitch .toggleButton {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #444644;
}
.toggle:checked ~ .toggleSwitch {
  background: #26b32d;
  opacity: 1;
}
.toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 22px);
  background: #fff;
}
.toggleSwitch, .toggleButton {
  transition: all 0.2s ease-in;
}

/* ========================================================================================================== */
/* ===== 컨트롤 버튼 ========================================================================================= */

.talking-controlBtn-container{
    flex-basis: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
}
.talking-controlBtn-container div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    opacity: .5;
}
.talking-controlBtn-container>div * {
    cursor: pointer;
}
.talking-controlBtn-container .active{
    opacity: 1;
}

/* ========================================================================================================== */
/* ===== Exit 버튼 ========================================================================================== */

.talkingBox_ExitBtn{
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    width: 50px;
    height: 50px;
    background-color: #464748;
    border-radius: 18px;
    cursor: pointer;
}

.talkingBox_ExitBtn>span {
    font-size: 32px;
    opacity: .5;
    transition: opacity .2s;
}

.talkingBox_ExitBtn:hover>span {
    opacity: 1;
}