* {
    margin: 0;
    padding: 0;
}

body {
    width: 900px;
    margin: auto;
}

.prod_image {
    display: inline-block;
    background-image: none;
    width: 70px;
    height: 70px;
    border: solid 1px;
    text-indent: -9999em;
}

.qna_board_title {
    margin-top: 20px;
    width: 100%;
    border: solid 1px;
    border-bottom: none;
}

.qna_board_title p {
    display: inline-block;
}

.qna_board_title_listbox {
    position: absolute;
    top: 0;
    right: 0px;
}

.qna_board_title_input {
    display: inline-block;
}

.qna_board_username {
    width: 100%;
    border: solid 1px;
    border-bottom: none;
}

.qna_board_username p {
    display: inline-block;
}

.qna_board_username_input {
    display: inline-block;
    width: 90%;
}

.board_textarea {
    border: solid 2px;
    width: 100%;
}

.board_textarea_topnav {
    border-bottom: solid 1px;
}

.board_textarea_main {
    width: 99%;
    height: 400px;
}

.board_textarea_undnav {
    border-top: solid 1px;
    height: 1.5em;
}

.board_textarea_undnav p {
    text-align: right;
    padding-right: 1em;
}

.qna_url {
    border: solid 1px;
    border-top: none;
}

.qna_url * {
    display: inline-block;
}

.qna_fileupload div {
    border: solid 1px;
    border-top: none;
}

.qna_fileupload p {
    display: inline-block;
}

.qna_board_pw {
    border: solid 1px;
    border-top: none;
}

.qna_board_pw * {
    display: inline-block;
}

.qna_board_public {
    border: solid 1px;
    border-top: none;
}

.qna_board_public * {
    display: inline-block;
}

.qna_board_privacy {
    border: solid 1px;
    border-top: none;
}

.qna_board_privacy * {
    display: inline-block;
}

.qna_board_upload a {
    text-decoration: none;
}