* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    width: 900px;
    margin: auto;
}

@media(max-width:930px) {
    body {
        width: 90vw;
        margin: 1em auto;
    }

    .qna_serach_box {
        padding-bottom: 0.3em;
    }
}

/* top */
.qna_main_top_nav {
    text-decoration: none;
}

.qna_main_top_nav ul {
    text-align: center;
}

.qna_main_top_nav ul li {
    display: inline-block;
    list-style: none;
}

.qna_main_top_nav ul li a {
    color: black;
    font-size: 0.8em;
}

.qna_main_top_nav ul li a:nth-of-type(1) {
    margin-left: 20px;
}

.qna_main_board_btn {
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: right;
}

/* 글쓰기 버튼 */
.qna_main_board_btn button {
    border: solid 1px;
}

.qna_main_board_btn a {
    color: black;
}

.qna_main_board_btn a button {
    width: 4em;
    height: 3em;
    text-decoration: none;
    background: #ffffff;
    cursor: pointer;
}

/* 상단 리스트박스 */
.qna_main_top_nav_listbox {
    background: #d1d1d1;
    padding-left: 0.8em;
    padding-bottom: 0.2em;
    width: 98.3%;
}

.qna_type_select {
    width: 98.3%
}

/* main */

.qna_main_content li {
    border-bottom: solid 1px;
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

.qna_main_content li p {
    padding-bottom: 5px;
}

.qna_main_content li div {
    display: inline-block;
    padding-bottom: 5px;
}

/* under */
.qna_main_pagelist ul {
    margin: 20px 0px;
    text-align: center;
}

.qna_main_pagelist ul li {
    display: inline-block;
    list-style: none;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.qna_main_under_nav_listbox {
    padding-left: 1em;
    margin-bottom: 10px;
}

.qna_postdate,
.qna_postinfo {
    width: 49%;
}

.qna_serach_box {
    display: flex;
    gap: 0.2em;
    margin: 0 0.8em 0 1em;
    padding-bottom: 0.3em;
}

.qna_search_input {
    flex: 19 19 0;
}

.qna_main_under_nav hr {
    margin: 10px 0px;
}

.search_btn {
    flex: 1 1 0;
    text-decoration: none;
    background: #ffffff;
    border: solid 1px;
    cursor: pointer;
}