* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    width: 900px;
    margin: auto;
}

/* top */
.qna_main_top_nav {
    text-decoration: none;
}

/*문의게시판 공지사항 */
.qna_main_top_nav ul li a {
    margin: 0 1em;
}

.qna_main_top_nav ul li a {
    color: black;
    font-size: 0.8em;
}

/* 글쓰기버튼 */
.qna_main_board_btn {
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: right;
}

.qna_main_board_btn a {
    color: black;
}

.qna_main_board_btn a button {
    width: 4em;
    height: 2.5em;
    text-decoration: none;
    background: #ffffff;
    border: solid 1px;
}

/* 상단 리스트박스 2개*/
.qna_main_top_nav_listbox {
    background: #dbdbdb;
    padding: 0 0 0.2em 1em;


}

/* main */
.qna_main_top_nav ul {
    text-align: center;
}

.qna_main_top_nav ul li {
    display: inline-block;
    list-style: none;
}

.qna_main_content li {
    border-bottom: solid 1px;
    list-style: none;
    padding: 10px;
}

.qna_main_content li p {
    padding-bottom: 5px;
}

/* under */
/* 페이지 번호 */
.qna_main_pagenum ul {
    margin: 20px 0px;
    text-align: center;
}

.qna_main_pagenum ul li {
    display: inline-block;
    list-style: none;
    width: 1.5em;
    height: 1.5em;
}

/* 하부 박스 구성*/
.qna_main_under_nav {
    display: grid;
}

/* 하단 리스트박스 */
.qna_main_under_nav_listbox {
    display: grid;
    grid-template
    
}

/* 검색어 입력창 */
.qna_main_under_nav_input {
    width: 90%;
    height: 2em;
}

.qna_main_under_nav hr {
    margin: 10px 0px;
}

/* 검색버튼 */
.qna_main_under_nav button {
    width: 3em;
    height: 2em;
    text-decoration: none;
    background: #ffffff;
    border: solid 1px;
}