body *{
    font-size: 12px;
    text-decoration: none;
}

/* 카테고리 */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu > div {
    margin-right: 20px;
}

.select {
    display: flex;
    justify-content: end;
    width: 95%;
    margin-top: 20px;
}

.select>select {
    appearance: none;
    border-style: none;
}

/* 상품 배치 */

main {
    padding: 15px;
}

.grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3,1fr);
}

.grid>div {
    display: grid;
    justify-items: center;
    align-items: end;     
    margin: 40px 0 40px 0;
}
.grid>div>a {
    display: flex;
    justify-content: center;
}

.grid>div>a>img {
    width: 80%;
    margin-bottom: 10px;
}

.grid>div>div {
    font-weight: bold;
    margin: 2px;
}

.delivery {
    font-size: 11px;
    color: grey;
}

/* 페이지 */

.page {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.page>div {
    padding : 7px;
}

a:link, a:visited {
    color: black;
}

.self {
    font-weight: bold;
}