* {
    font-size: 12px;
}

/* 상세페이지*/

.page { 
    display: inline-block;
    width: calc(100% - 420px);
    text-align: center;
}

.mainimg {
    display: flex;
    justify-content: center;
}

.detailimg>img,
.text>img {
    width: 90%;
}

.page>hr {
    width: 85%;
    color: #ccc;
}

.thumimg>* {
    width: 164px;
}

.text {
    width: 100%;
}

.text>h1 {
    font-size: 25px;
}

.text>h2 {
    font-size: 14px;
    font-weight: normal;
}

.text>h3 {
    font-size: 14px;
    color: red;
}

.video { 
    width: 60vw; height: calc(60vw*0.6);
}

.recommenditem {
    display: grid;
    width: 100%;
    margin-top: 120px;
    padding: 0px 3% 0px 3%;
    grid-template: repeat(1, 1fr) repeat(1, 150px) repeat(2, 18px) / repeat(5, 1fr);
    gap: 3px;
}

.recomtext {
    grid-row: 1/2;
    grid-column: 1/6;
    text-align: start;
    margin: 0px 0px 10px 20px;
}

.recommenditem>div>img {
    width: 100%;
}

/* 구매 파트 */

.order {
    width: 370px; height: 100vh;
    padding: 0px 50px 0px 20px;
    position: fixed;
    top: 0;
    right: 0;
    overflow: scroll;

    -ms-overflow-style: none;
    
    ::-webkit-scrollbar { /*특정 부분 스크롤바 없애기*/
     display: none; 
    }
}

.order {
  -ms-overflow-style: none;
} 

.order::-webkit-scrollbar {
 display:none;
}

.productname {
    margin-bottom: 30px;
}

.productname>div:nth-child(1) {
    font-size: 16px;
    padding-bottom: 6px;
}

.select>* {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.select>select,
.detail span,
.button1 input,
.button2 input,
.span {
    cursor: pointer;
}

.selectproduct.unvisible,
.orignPrice {
    display: none;
}

.selectproduct {
    display: flex;
    width: 370px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.selectproduct>div:nth-child(1) {
    width: 170px;
}

.span {
    display: flex;
    flex-grow: 1;
}

.span>* {
    padding-right: 20px;
}

.span>div:nth-child(2) {
    font-weight: bold;
}

.span>div:nth-child(4) {
    color: #ccc;
}

.span,
.selectproduct>div:nth-child(3) {
    margin-top: 10px;
}

.total {
    margin: 10px 0px;
}

.total>:not(span:last-child) {
    font-weight: bold;
}

.button1 {
    text-align: center;
}

.button1>input {
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
    border: solid 1px;
}

.button1>input:nth-child(1) {
    background-color: black;
    color: white;
}

.button1>input:nth-child(2) {
    background-color: white;
    color: black;
}

.order>hr:nth-of-type(1) {
    width: 300px;
    float: left;
    border: solid 1.3px;
}

.button2 {
    display: flex;
    width: 100%;
}

.button2>* {
    margin-left: 8px;
}

.button2>div:nth-child(1) {
    width: 79px;
    height: 37px;
    background-size: 180px 200px;
    background-image: url("https://img.pay.naver.net/static/images/button/2023_10_diff/npay_sp_text.png");
    background-repeat: no-repeat;
}

.button2>a>input:nth-child(1) {
    width: 151px;
    height: 37px;
    border: solid 1px #ccc;
    background: url("https://img.pay.naver.net/static/images/button/2023_10_diff/npay_sp_payment.png") no-repeat #00DE5A top/44%;
}

.button2>input:nth-child(3) {
    width: 37px;
    height: 37px;
    border: solid 1px #ccc;
    background-color: white;
}

.order>hr:nth-of-type(2) {
    width: 300px;
    margin-right: 26%;
    float: left;
    opacity: .5;
}

.navertext {
    display: inline-block;
    padding-bottom: 50px;
}

.navertext>:nth-child(1) {
    color: #00DE5A;
}

.arrow {
    display: inline-block;
}

.arrow>* {
    float: left;
    width: 16px;
    height: 16px;
    background: url("https://img.pay.naver.net/static/images/button/2023_10_diff/npay_sp_more.png") no-repeat;
    background-size: 31px;
}

.arrow>div:nth-child(1) {
    background-color: aqua;
    margin-left: 5px;
}

.arrow>div:nth-child(2) {
    background-position-x: -16px;
}

.detail {
    margin: 0px 0px 30px 0px;
}

.detail span{
    margin-right: 10px;
    color: #bcbcbc;
}

.detail .bold{
    color: #000;
}

.detailtext>div>span {
    color: red;
}

.detailtext>div{
    display: none;
}

.detailtext>div.pop{
    display: block;
}

/* 창 크기별 반응형 */

@media screen and (max-width:1150px) {
    .page {
        width: 100%;
    }

    .video {
        width: 90vw;
        height: calc(90vw*0.6);
    }

    .recommenditem {
        width: 95%;
    }

    .order {
        position: relative;
        width: 95%;
        margin-top: 50px;
    }

    .order>hr:nth-of-type(2) {
        margin-right: 100vw;
    }
}

@media screen and (max-width:735px) {
    .recommenditem {
        grid-template: repeat(1, 0.5fr) repeat(1, 1fr) repeat(2, 0.2fr) / repeat(5, 1fr);
    }
}

@media screen and (min-width:1360px) and (max-width:100vw) {
    .recommenditem>div>img {
            width: 80%;
    }
}